@use "@styles/variables.scss" as var;
@use "@styles/mixin.scss" as mi;

.result {
  display: flex;
  justify-content: center;
  min-width: var.$contentWidthPc;
  padding: 40px 40px 0;

  @include mi.mq {
    min-width: auto;
    padding: 20px 10px;
    text-align: center;
  }

  &__inner {
    width: var.$contentWidthPc;

    @include mi.mq {
      width: 100%;
    }
  }

  &__total {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
  }
}

.item {
  padding: 10px 0;
  border-bottom: 1px solid var.$themeOrange;

  @include mi.mq {
    text-align: left;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
  }

  &__desc {
    margin: 0 0 10px;
  }

  &__detail {
    display: flex;
    align-items: center;
  }

  &__star {
    display: flex;
    align-items: center;
    font-size: 14px;
  }

  &__starText {
    margin: 0 0 0 5px;
  }

  &__fork {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 15px;
  }

  &__forkText {
    margin: 0 0 0 5px;
  }

  &__language {
    margin-left: 15px;
    font-size: 14px;
  }

  &__updated {
    margin-left: 15px;
    font-size: 14px;
  }
}
